div {
    text-align: center;
}

p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;

}

.weather-container {
    text-align: center;
    margin: 20px;
}
.weather-heading {
    color: #3f51b5;
    text-shadow: 2px 2px 4px rgba(25, 46, 164, 0.2);
    
}

.weather-slogan {
    font-size: 1.5rem; /* Larger than normal font size for slogans */
    font-weight: 600; /* Semi-bold for a balanced look */
    color: #333; /* Neutral color for contrast */
    font-style: italic; /* Adds a classy feel */
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for a fancy touch */
}
